$fonts: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;

$blackish: #121213;
$lightblackish: #18181a;
$lightlightblackish: #1d1d20;
$whitish: #f3f2f2;
$darkwhitish: #e6e6e6;
$darkdarkwhitish: #dddddd;
$gray: #595f66;
$lightgray: #6f7985;
$lightlightgray: #8999ac;
$darkgray: #3d454e;
$darkdarkgray: #222b35;