@use 'overlay';

$fonts: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;

$blackish: #121213;
$lightblackish: #18181a;
$lightlightblackish: #1d1d20;
$whitish: #f3f2f2;
$darkwhitish: #e6e6e6;
$darkdarkwhitish: #dddddd;
$gray: #595f66;
$lightgray: #6f7985;
$lightlightgray: #8999ac;
$darkgray: #3d454e;
$darkdarkgray: #222b35;

$red: tomato;
$yellow: gold;
$blue: cornflowerblue;
$pink: #fc0fc0;

:root {
  font-family: $fonts;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $blackish;
  color: $lightlightgray;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid $darkdarkgray;

  h1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: $whitish;
    text-shadow:
    0px 0px 0 $blue,
    0px 0px 0 $yellow;
    transition: all 150ms ease-out;
  }
  
  h1 a {
    text-decoration: none;
    transition: all 150ms ease-out;
  }

  h1:hover a {
    color: $yellow;
    text-shadow:
      3px 3px 0 $whitish,
      6px 6px 0 $red,
      9px 9px 0 $whitish;
    text-decoration: none;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 4vh;
}

button {
  border: none;
  color: inherit;
}

#content {
  position: relative;
  flex-basis: 0;
  flex-grow: 999;
  background-color: $darkgray;
  margin-inline: auto;
  min-width: 60%;
}

#sidebar {
  flex-basis: 30vw;
  flex-grow: 1;
  justify-self: flex-start;

  > {
    line-height: 1;
    margin-top: 0;
  }

  > * + * {
    margin-top: 4vh;
  }
}

/*Add borders to cells using nth-child selector*/
#board > *:nth-child(3n+1) {
  border-right: 1px solid $lightgray;
}

#board > *:nth-child(3n+2) {
  border-right: 1px solid $lightgray;
}


#board > *:nth-child(3n), 
#board > *:nth-child(3n - 1), 
#board > *:nth-child(3n - 2) {
  border-bottom: 1px solid $lightgray;
}


#board > *:nth-child(7), 
#board > *:nth-child(8), 
#board > *:nth-child(9) {
  border-bottom: none;
}

.cell {
  font-size: 7rem;
  font-weight: 200;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  background-color: $blackish;
  transition: all 300ms ease-out;
  outline-offset: -2px;
  color: $lightgray;
}

.cell:hover,
.cell:focus {
  background-color: $lightlightblackish;
}

.cell:active {
  background-color: $darkdarkgray;
  outline: 2px solid $lightgray;
}

.token {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  font-weight: 900;
}

h1 {
  font-size: 4vw;
  letter-spacing: 0.25rem;
}

.subheading {
  font-weight: 500;
  letter-spacing: 2px;
}

a {
  color: $darkdarkwhitish;
  text-decoration: none;
  transition: all 300ms ease-out;
}

a:hover {
  text-decoration: underline;
  color: $darkwhitish;
}

.player-control > * + * {
  margin-top: 1rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
}

.c {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 1;
  animation: scaleIn 300ms ease-in-out 1;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

@keyframes scaleIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1.0;
  }
  100% {
    transform: scale(1.0);
  }
}